@media (max-width: 430px) {
  .extra-links {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    font-size: 15px;
  }
  .btn-login {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    font-size: 15px;
  }
  .register {
    border-radius: 20px;
    white-space: nowrap;
    font-size: 15px;
  }
}

.register {
  padding-left: 94px;
  padding-right: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 151px;
  margin-right: 104px;
  border-radius: 10px;
  background-color: green;
  color: white;
  font-weight: bold;
  white-space: nowrap;
  font-size: 15px;
}

.register:hover {
  text-decoration: none;
  background-color: blue;
  color: white;
  font-weight: bold;
}

.forgot_password {
  margin-left: 247px;
  text-decoration: underline;
}
